.aws-sam/*
.env
.bundle/*
.claude/*
!.bundle/config
.tool-versions
vendor/*
!vendor/.gitkeep
spec/fixtures/vcr_cassettes/*
!spec/fixtures/vcr_cassettes/**/.gitkeep
samconfig.toml
tmp/

.next/
out/
node_modules/
