version: 2.1

orbs:
  ruby: circleci/ruby@2.6.0

executors:
  default:
    docker:
      - image: cimg/ruby:3.3.0
        environment:
          BUNDLE_PATH: .bundle
          BUNDLE_JOBS: 4

jobs:
  prepare:
    executor: default
    steps:
      - checkout
      - ruby/install-deps

  test:
    executor: default
    steps:
      - checkout
      - ruby/install-deps
      - run:
          name: run in debug mode
          command: bundle exec rake run

  execute:
    executor: default
    steps:
      - checkout
      - ruby/install-deps
      - run:
          name: deploy RSS
          command: bundle exec rake run[voice,production]

workflows:
  ci:
    when:
      not:
        equal:
          - master
          - << pipeline.git.branch >>
    jobs:
      - prepare
      - test:
          requires:
            - prepare
  execute:
    when:
      equal:
        - master
        - << pipeline.git.branch >>
    jobs:
      - prepare
      - execute:
          requires:
            - prepare
